  /* Remove the navbar's default rounded borders and increase the bottom margin */ 
  .navbar {
    margin-bottom: 50px;
    border-radius: 0;
  }
  
  /* Remove the jumbotron's default bottom margin */ 
   .jumbotron {
    margin-bottom: 0;
  }
 
  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }
  .carousel-inner img {
    width:100px; /* Set width to 100% */
    margin: auto;
    height:100px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 100px) {
  .carousel-caption {
    display: none; 
  }
}


/*container{
          list-style:none;
          margin-right:300px;
          padding:0px;
          height:100%;
  
      }
      */
      .item{
          display:block;
          text-decoration:none;
      }
      .item img{
          border:1px solid #333;
      }
      .item p{
          margin:0;
          font-weight:bold;
          text-align:center;
          color:#c3c3c3;
      }
      .cart{
          position:absolute;
          right:0;
          top:300;
          width:300px;
          height:100%;
          background:#ccc;
          padding:0px 10px;
      }
      h1{
          text-align:center;
          color:#555;
      }
      h2{
          position:absolute;
          font-size:16px;
          left:10px;
          bottom:20px;
          color:#555;
      }
      .total{
          margin:0;
          text-align:right;
          padding-right:20px;
      }
   .panel-body{
    height:150px;
  }
.carousel{
  height:20px;
}