/* Remove the navbar's default rounded borders and increase the bottom margin */ 
.navbar {
    margin-bottom: 50px;
    border-radius: 0;
          position:fixed;
          width:100%;
          z-index: 50000000;
  }
  
  /* Remove the jumbotron's default bottom margin */ 
   .jumbotron {
    margin-bottom: 0;
  }
 
  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }
  /*.carousel-inner img {
    width:80px; /* Set width to 100% 
    margin: auto;
    min-height:120px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 100px) {
  .carousel-caption {
    display: none; 
  }
}
      .products{
          list-style:none;
          margin-right:300px;
          padding:0px;
          height:100%;
      }
      .products li{
          /*display:inline;*/
          float:left;
          margin:10px;
      }
      .item{
          display:block;
          text-decoration:none;
      }
      .item img{
          border:1px solid #333;
    width:150px;
    height:150px;
      }
      .item h5{
          margin:0;
          font-weight:bold;
          text-align:center;
          color:inherit;
      }
      .item h6{
          margin:0;
          font-weight:bold;
          text-align:center;
          color:inherit;
      }
      .cart{
          position:absolute;
          right:50px;
          top:680px;
          width:310px;
          height:80%;
          background:#ccc;
          padding:0px 10px;
      
      }
      h1{
          text-align:center;
          color:#555;
      }
      h2{
          position:absolute;
          font-size:16px;
          left:10px;
          bottom:20px;
          color:#555;
      }
      .total{
          margin:0;
          text-align:right;
          padding-right:20px;
          }
      .carousel-inner img{
          max-height:200px;
          border:0px;
          margin:auto;
          
      }
  .highlight{
      background-color:yellow;
  }
  #myCarousel{
      height:200px;
  }